<h1>Algorithm Examples</h1>
<nav>
<!--  <a class="button"-->
<!--     routerLink="/crisis-list"-->
<!--     routerLinkActive="activebutton"-->
<!--     ariaCurrentWhenActive="page">-->
<!--    Crisis Center-->
<!--  </a> |-->
<!--  <a class="button"-->
<!--     routerLink="/heroes-list"-->
<!--     routerLinkActive="activebutton"-->
<!--     ariaCurrentWhenActive="page">-->
<!--    Heroes-->
<!--  </a>-->
  <a class="button"
     routerLink="/palindrome-validator"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    palindrome-validator
  </a>
  <a class="button"
     routerLink="/roams-number-print"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    roams-number-print
  </a>
  <a class="button"
     routerLink="/minimum-coin-checker"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    minimum-coin-checker
  </a>
  <a class="button"
     routerLink="/fibonacci-series"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    fibonacci-series
  </a>
</nav>
<router-outlet></router-outlet>

<div style="display: none;">
<!-- This HTML represents the initial state for the tutorial. It is not intended to appear in the app. -->
<!--<app-crisis-list></app-crisis-list>-->
<!--<app-heroes-list></app-heroes-list>-->
<app-palindrome-validator></app-palindrome-validator>
<app-romans-number-print></app-romans-number-print>
<app-minimum-coin-checker></app-minimum-coin-checker>
<app-fibonacci-series></app-fibonacci-series>

<!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
<nav>
  <a class="button" routerLink="/crisis-list">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list">Heroes</a>
  <a class="button" routerLink="/palindrome-validator">Palindrome Validator</a>
  <a class="button" routerLink="/roams-number-print">roams-number-print</a>
  <a class="button" routerLink="/minimum-coin-checker">minimum-coin-checker</a>
  <a class="button" routerLink="/fibonacci-series">fibonacci-series</a>
</nav>


</div>
